
  /*--------------
 fonts and links 
 ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* -------------
common css 
-------------------*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
head, body{
    font-family: 'Poppins', sans-serif;
}
/* -----------------
header part css
-------------------- */
.wrapper{
    display: flex;
    background-image: linear-gradient(to right,#3795BD, #3A1078);
    background-color: #2D25A0;
    margin: 0 auto;
    margin-bottom: 70px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 85px;

}
.header-text h1{
    font-size: 64px;
    color: #fff;
    width: 485px;
    margin-right: 100px;
}
.header-button{
    width: 118px;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 25px;
    -webkit-transition: ease-in-out 0.5s;
}
.header-button a, .fa-arrow-right{
    color: #fff;
    font-size: 16px;
    -webkit-transition: ease-in-out 0.5s;
}
.fa-arrow-right{
    margin-left: 8px;
}
.header-button:hover{
    background-color: tomato;
    cursor: pointer;
}
.header-img{
    width: 556px;
    height: 438px;
}
.header-img img{
    width: 100%;
    height: 100%;
}
/*------------------
 main blog part css
 -------------------- */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blogs{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    width: 117px;
    grid-row-gap: 25px;
    z-index: -1;

}
.blog-details{
    width: 330px;
    background-image: linear-gradient(to right, #fdfdfd);
    border-radius: 50px;
    width: 100%;

}
.blog-img{
    width: 350px;
    height: 300px;
    padding: 15px;
    overflow: hidden;
    border-radius: 30px;
    display: inline-flexbox;
    
}


.blog-img:hover img{
    transform: scale(1.05);
    transition: transform ease 0.3s;
    cursor: pointer;
}
.blog-img img{
    width: 100%;
    height: 100%;
    
    
}
.blog-text{
    margin: 15px 15px;
    margin-top: 0px;
}
.blog-text h3{
    font-size: 28px;
    color: #18191F;
    margin-bottom: 15px;
}
.blog-text p{
    color: #6C6C6C;
    font-size: 16px;
    padding-bottom: 30px;
}
/* ----------------
highlights part css 
-----------------------*/
.highlight-text{
    width: 470px;
    margin-right: 60px;
    padding-right: 20px;
}
.highlight-text h2{   
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 8px;
}

.highlight-text p{
    font-size: 16px;
    color: #6C6C6C;
}
.highlights-img{
    width: 567px;
    height: 427px;
    padding-right: 60px;
}
.highlights-img img{
    width: 100%;
    height: 100%;
}
/* ------------------
highlights video css
------------------------- */
#no-bg{
    background-image: linear-gradient(to right, #ffffff,#48CBFF);
}
.thumbnail-div{
    width: 450px;
    height: 290px;
    overflow: hidden;
    margin-bottom: 50px;
}
.thumbnail-div img{
    width: 100%;
}
.all-thumbnail{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.overlay-hold{
    position: relative;
}
.overlay-hold:hover .overlay{
    transform: scale(1.0);
    /* width: 100%; */
    /* height: 290px; */
    transition: all linear 0.5s;
    /* opacity: 1; */
}
.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 0;
    left: 0;;
    /* width: 0px; */
    /* height: 0px; */
    width: 100%;
    height: 290px;
    transform: scale(0);
    /* opacity: 0; */
    overflow: hidden;
}
.overlay p{
    padding: 30px;
    font-size: 16px;
    color: #fff;
    padding-top: 70px;
}
.overlay .youtube-icon{
    font-size: 50px;
    color: rgb(231, 37, 37);
}
.icon{
    padding-bottom: 50px;
}
/* -------------------
news part css 
----------------------- */
.all-news{
    margin-bottom: 150px;
}
.all-news > h2{
    margin-bottom: 50px;
    font-size: 48px;
    color: #0a0826ef;
}
.all-news> .header-button{
    margin-left: 6px;
}
.news{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 1170px;
    margin-bottom: 40px;
}
.news-img{
    width: 600px;
    height: 427px;
}
.news-img img{
    width: 100%;
    height: 100%;
}
.news-text{
    margin-left: 50px;
    width: 500px;
}
.news-text p{
    font-size: 16px;
    color: grey;
}
.news-text h2{
    margin-top: 20px;
    font-size: 32px;
    margin-bottom: 20px;
}
.news-text h4{
    font-size: 24px;
    color: #0a0826e5;
    margin-bottom: 20px;
}
.news-text >p > span{
    color: orange;
}
/* ---------------------
footer part css
------------------------- */
.container-2{
    display: flex;
    flex-direction: column;

}
.footer-img{
    width: 484px;
    height: 110px;
    margin-bottom: 30px;
}
.footer-img img{
    width: 100%;
    height: 100%;
}
.footer-icon, .copy-right{
    margin: 25px auto;
}
.footer-icon a{
    margin-left: 20px;
    color: rgb(231, 37, 37);;
    padding: 20px;
    background-color: #969bab48;
    font-size: 24px;
    border-radius: 50%;
}
.copy-right p{
    font-size: 18px;
}
.footer-icon a:hover{
    background-color: rgb(231, 37, 37);
    color: #fff;
    transition: all linear 0.3s;
}
/* footer part css end */

/* --------------------------------
media query part for mobile devices 
------------------------------------*/
@media screen and (max-width: 540px) {
    /*---------------------- 
    header part style
    ------------------------ */
    .wrapper{
        width: 100%;
    }
    .container{
        flex-direction: column;
    }
    .header-text h1 {
        font-size: 36px;
        width: 295px;
        margin-right: 110px;
    }
    .header-img {
        width: 330px;
        height: 260px;
        padding-top: 50px;
        padding-right: 90px;
    }

    /* ----------------------
    blog part
    ----------------------- */
    .blogs {
        margin-left: 15%;
        margin-right: 30%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* width: 1170px; */
    }
    .center {
        margin-left: 6%;
    }
    .container {
        padding-bottom: 50px;
    }

    /*------------------------
     highlights part 
     -----------------------*/
    #mr-0{
        margin-left: 0;
        padding-right: 75px;
    }
    .highlight-text{
        width: 330px;
    }
    .highlight-text h2 {
        font-size: 36px;
        width: 365px;
        padding: 25px;
    }
    .highlight-text p {
        font-size: 16px;
        color: #6C6C6C;
        width: 370px;
        padding: 24px;
    }
    .highlights-img {
        margin-top: 30px;
        width: 330px;
        height: 250px;
        padding-right: 80px;
    }
    .highlights-img img {
        width: 100%;
        height: 100%;
        margin-left: 6%;
    }
    .header-button {
        width: 118px;
        background-color: #E02C6D;
        padding: 5px 5px;
        margin-top: 25px;
        margin-left: 23px;
        -webkit-transition: ease-in-out 0.5s;
    }
    /*----------------------------
     highlights videos
     ----------------------------- */
    .all-thumbnail {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .thumbnail-div {
        margin-left: 6%;
        width: 400px;
        height: 250px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    .overlay-hold{
        width: 400px;
        height: 250px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    .overlay {
        top: 0;
        left: 25px;
        /* width: 0px; */
        /* height: 0px; */
        width: 100%;
        height: 250px;
        transform: scale(0);
        /* opacity: 0; */
        overflow: hidden;
    }
    .overlay p {
        padding: 30px;
        font-size: 10px;
        color: #fff;
        padding-top: 70px;
    }
    /*-----------------------------------
     news part -
     -----------------------------------*/
    .all-news {
        margin-bottom: 50px;
    }
    .all-news > h2 {
        margin-bottom: 30px;
        font-size: 36px;
        color: #0a0826ef;
        margin-left: 350px;
    }
    .news {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
    .news-img {
        width: 540px;
        height:240px;
    }
    .news-img img{
        width: 50%;
        margin-left: 7%;
    }
    .news-text h2 {
        font-size: 18px;
        width: 260px;
    }
    .news-text h4 {
        font-size: 14px;
        width: 260px;
    }
    .all-news> .header-button {
        margin-left: 360px;
        margin-bottom: 30px;
    }
    /*---------------------------------------
     footer part css 
     -----------------------------------*/
     footer{
        position: fixed;
        
      
     }
    .footer-img {
        width: 300px;
        margin-bottom: 10px;
    }
    .container-2 {
        margin-bottom: 50px;
    }
    .footer-icon a {
        margin-left: 14px;
        padding: 8px;
        font-size: 15px;
    }
    .copy-right p {
        font-size: 10px;
    }

}
/* -----------------------------
 tab view media query
---------------------------------- */
@media screen and (min-width: 541px) and (max-width: 768px){
    .wrapper {
        width: 100%;
        background-color: #2D25A0;
        /* width: 1440px; */
        margin: 0 auto;
        margin-bottom: 70px;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 150px;
        padding-bottom: 85px;
        
    }
    .header-img {
        width: 556px;
        height: 438px;
        margin-top: 50px;
    }
    /*---------------------------- 
    blog part media 
    ----------------------------*/
    .blogs {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        width: 1170px;
        grid-row-gap: 25px;
    }
    /*------------------------------------
     highlights part media 
     -----------------------------------*/
    .highlight-text {
        width: 470px;
        margin-right: 136px;
        padding-right: 20px;
    }
    .header-button {
        margin-bottom: 30px;
        width: 118px;
        background-color: #E02C6D;
        padding: 10px 24px;
        margin-top: 25px;
        -webkit-transition: ease-in-out 0.5s;
    }
    /* --------------------------------
    news part media 
    ----------------------------------- */
    .all-news > h2 {
        margin-bottom: 50px;
        font-size: 36px;
        color: #0a0826ef;
        margin-left: 200px;
    }
    .news {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        /* width: 1170px; */
        margin-bottom: 40px;
    }
    .news-img {
        width: 450px;
        height: 427px;
        padding-left: 20%;
    }
    .news-text h2 {
        margin-top: 20px;
        font-size: 16px;
        margin-bottom: 20px;
        width: 250px;
    }
    .news-text h4 {
        font-size: 12px;
        color: #0a0826e5;
        margin-bottom: 20px;
        width: 200px;
    }
    .all-news {
        margin-bottom: 100px;
    }
    .all-news> .header-button {
        margin-left: 200px;
    }
    /* --------------------------
    footer part media
    -----------------------------  */
    .container-2 {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .footer-img {
        width: 400px;
        height: 100px;
        margin-bottom: 0px;
    }
    .copy-right p {
        font-size: 12px;
    }

}

#my_nav_bar{
    background-image: linear-gradient(to right,#3795BD, #3A1078);
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      z-index: 5;
      display: flex;

}

.nav-item {
      display: inline-block;
      margin-left: 0px;
      padding: 20px;
      color: #333;
      text-decoration: none;
      transition: color 0.3s;
      font-size: larger;


}

.nav-link:hover {
  color: #f00;
}


#loginpage{

     background-image: linear-gradient(to right,#3795BD, #3A1078);


}




/* sign-in form */
body {
  background-image: linear-gradient(to right, #ffffff);
}

.card-img-left {
  width: 750px;
  /* Link to your background image using in the property below! */
  background-image: url("images/banner.png");
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.reg_container{

    background-image: linear-gradient(to right, #3A1078,#3795BD);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 100vh;

}
.post-container {
    margin-top: 50px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-details {
    margin-top: 20px;
}

.blogger-name {
font-weight: bold;
margin-bottom: 10px;
}

.likes-comments {
margin-top: 20px;
}

.add_post_container{
    display: block;
    padding: 100px;
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}
.video_grid {
    margin: 50px;
  }
  
  .video-section {
    border: 1px solid #000;
  }
  
  .video-container {
    margin-bottom: 20px;
    padding: 50px;
  }
  
  .embed-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
  }
  
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

.dropdown {
    display: none;
    position: relative;
  }
  
  .dropdown-btn {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 6;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .dropdown {
      display: inline-block;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown-content a {
        display: block;
        text-align: left;
      }
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .nav_dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6ae1ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {    
    
    background-image: linear-gradient(to right, #3A1078,#3795BD);

  }
  
  .nav_dropdown:hover .dropdown-content {
    display: block;
}
  
  .nav_dropdown:hover .dropbtn {
    background-image: linear-gradient(to right, #3A1078,#3795BD);
}
i {
    margin-right: 10px;
}

.searchBar{

    float: right;
    margin-left: 300px;
}
.text-center{
    margin-right: 100px;
}
label {
    font-weight: bold;
    font-size: 20px;
}
/* chini */
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 18px
}

